.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
}
.App__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.App__header_signedIn {
  display: flex;
  align-items: center;
}

.App__header_image {
  height: 50px;
  width: 50px;
}
